.main-header .nav-custom {
  background-color: #354052;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header .nav-custom .logo-container {
  display: flex;
  align-items: center;
  color: #ffffff;
}
.main-header .nav-custom .logo-container .fa {
  margin-right: 15px;
  font-size: 32px;
  font-weight: 700;
}
.main-header .nav-custom .logo-container .logo {
  font-weight: 700;
  font-size: 32px;
  margin: 0;
}
.main-header .nav-custom .menu {
  display: flex;
  align-items: center;
}
.main-header .nav-custom .menu .menu-item {
  display: inline-flex;
  align-items: center;
  height: 55px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 20px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.main-header .nav-custom .menu .menu-item:hover {
  background-color: #885ff8;
  text-decoration: none;
}

.form-container.sign-up,
.form-container .login {
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  max-width: 500px;
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto;
  border-radius: 5px;
}
.form-container.sign-up .btn,
.form-container .login .btn {
  display: block;
  width: 100%;
}
.form-container .heading-container .heading {
  font-size: 30px;
  color: #885ff8;
  margin-top: 0;
}
.form-container .heading-container .sub-heading {
  font-size: 20px;
}
.form-container .heading-container .sub-heading a {
  color: #a25ff8;
}

.btn-primary {
  background-color: #885ff8;
  border-color: #885ff8;
  transition-duration: 0.4s;
}
.btn-primary:hover {
  background-color: #a25ff8;
  border-color: #a25ff8;
}

.db-menu {
  padding-left: 0;
}
.db-menu .menu-heading {
  opacity: 0;
  padding: 10px 5px 10px 10px;
  color: #ffffff;
  font-size: smaller;
  border-bottom: 1px solid #7647f7;
  transition: all 0.5s;
}
.db-menu .db-menu-item {
  list-style-type: none;
}
.db-menu .db-menu-item.active a {
  background: #ac90fa;
  color: #ffffff;
}
.db-menu .db-menu-item.active a:hover {
  background: #9a77f9;
}
.db-menu .db-menu-item .db-menu-link {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #ffffff;
  padding: 15px 10px;
  width: 200px;
  border-bottom: 1px solid #2b3443;
  background: #354052;
  text-decoration: none;
}
.db-menu .db-menu-item .db-menu-link:hover {
  background-color: #2b3443;
  text-decoration: none;
}
.db-menu .db-menu-item .db-menu-link:hover i {
  color: #885ff8;
}
.db-menu .db-menu-item .db-menu-link:focus {
  text-decoration: none;
}
.db-menu .db-menu-item .db-menu-link i {
  width: 50px;
  text-align: center;
  padding-right: 15px;
  transition: all 1s;
}

.dashboard-main .left-side {
  width: 57px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #354052;
  position: fixed;
  transition: all 0.5s;
}
.dashboard-main .left-side:hover {
  width: 200px;
}
.dashboard-main .left-side:hover ul .menu-heading {
  opacity: 1;
}
.dashboard-main .right-side {
  padding-left: 120px;
  background-color: #e3e5e6;
  height: 93.2vh;
}
.dashboard-main .right-side .table-container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dashboard-main .right-side .orders .table-responsive .tb-heading-container,
.dashboard-main .right-side .users .table-responsive .tb-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7px;
}
.dashboard-main .right-side .orders .table-responsive .tb-heading-container .heading,
.dashboard-main .right-side .users .table-responsive .tb-heading-container .heading {
  padding: 15px 0;
}
.dashboard-main .right-side .orders .table-responsive .tb-heading-container a,
.dashboard-main .right-side .users .table-responsive .tb-heading-container a {
  color: #885ff8;
}
.dashboard-main .right-side .orders .table-responsive .table thead th,
.dashboard-main .right-side .users .table-responsive .table thead th {
  border-bottom: none;
}

a {
  text-decoration: none !important;
}/*# sourceMappingURL=custom.css.map */