.main-header .nav-custom {
  background-color: rgb(21, 30, 47);
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header .nav-custom .logo-container {
  display: flex;
  align-items: center;
  color: #ffffff;
}
.main-header .nav-custom .logo-container .fa {
  margin-right: 15px;
  font-size: 32px;
  font-weight: 700;
}
.main-header .nav-custom .logo-container .logo {
  font-weight: 700;
  font-size: 32px;
  margin: 0;
}
.main-header .nav-custom .menu {
  display: flex;
  align-items: center;
}
.main-header .nav-custom .menu .menu-item {
  display: inline-flex;
  align-items: center;
  height: 55px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 20px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.main-header .nav-custom .menu .menu-item:hover {
  background-color: #885ff8;
  text-decoration: none;
}

.form-container.sign-up,
.form-container .login {
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  max-width: 500px;
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto;
  border-radius: 5px;
}
.form-container.sign-up .btn,
.form-container .login .btn {
  display: block;
  width: 100%;
}
.form-container .heading-container .heading {
  font-size: 30px;
  color: #885ff8;
  margin-top: 0;
}
.form-container .heading-container .sub-heading {
  font-size: 20px;
}
.form-container .heading-container .sub-heading a {
  color: #a25ff8;
}

.btn-primary {
  background-color: #885ff8;
  border-color: #885ff8;
  transition-duration: 0.4s;
}
.btn-primary:hover {
  background-color: #a25ff8;
  border-color: #a25ff8;
}

.btn-third {
  background-color: #f8885f;
  border-color: #f8885f;
  transition-duration: 0.4s;
  color: #ffffff;
}

.sidebar {
  flex-basis: 200px;
  max-width: 200px;
  flex-shrink: 0;
  background-color: rgb(21, 30, 47);
  display: flex;
  flex-direction: column;
}
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
.sidebar-header .app-icon {
  width: 24px;
  color: #ffffff;
}
.sidebar-list {
  list-style-type: none;
  padding: 0;
}
.sidebar-list-item {
  position: relative;
  margin-bottom: 4px;
}
.sidebar-list-item a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 16px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  transition-duration: 0.4s;
}
.sidebar-list-item svg {
  margin-right: 8px;
}
.sidebar-list-item .svg-icon path,
.sidebar-list-item .svg-icon polygon,
.sidebar-list-item .svg-icon rect {
  fill: #ffffff;
}
.sidebar-list-item:hover {
  background-color: #885ff8;
  transition-duration: 0.4s;
}
.sidebar-list-item.active {
  background-color: #1d283c;
}
.sidebar-list-item.active:before {
  content: "";
  position: absolute;
  right: 0;
  background-color: #885ff8;
  height: 100%;
  width: 4px;
}
@media screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}

.account-info {
  display: flex;
  align-items: center;
  padding: 16px;
  margin-top: auto;
}
.account-info-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.account-info-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.account-info-name {
  font-size: 14px;
  color: #ffffff;
  margin: 0 8px;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.db-container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 2000px;
  display: flex;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 0 auto;
}
.db-container .db-content {
  padding: 16px;
  background-color: #101827;
  height: 100%;
  flex: 1;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.db-container .db-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
}
.db-container .db-content-header-text {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
}
.db-container .db-content-header .mode-switch {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 8px;
  cursor: pointer;
}
.db-container .db-content-header .mode-switch .moon {
  fill: #ffffff;
}
.db-container .db-content-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 4px;
}
.db-container .db-content-actions-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}
@media screen and (max-width: 520px) {
  .db-container .db-content-actions {
    flex-direction: column;
  }
  .db-container .db-content-actions .search-bar {
    max-width: 100%;
    order: 2;
  }
  .db-container .db-content-actions .app-content-actions-wrapper {
    padding-bottom: 16px;
    order: 1;
  }
}

.top-container .heading {
  margin: 0 15px 0 0;
}
.top-container .btn {
  display: flex !important;
  align-items: center;
}

body {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #101827;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}/*# sourceMappingURL=custom.css.map */