@import 'base/_base';
@import 'components/_components';
@import 'pages/_pages';

body {
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: $db-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}
