.dashboard-main {
  .left-side {
    width: 57px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $darkgray-blue;
    position: fixed;
    transition: all 0.5s;

    &:hover {
      width: 200px;
      ul {
        .menu-heading {
          opacity: 1;
        }
      }
    }
  }

  .right-side {
    padding-left: 120px;
    .table-container {
      background-color: $white;
      border-radius: 5px;
      box-shadow: $shadow;
    }

    .orders,
    .users {
      .table-responsive {
        .tb-heading-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 7px;
          .heading {
            padding: 15px 0;
          }
          a {
            color: $primary;
          }
        }
        .table {
          thead {
            th {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
