.form-container {
  &.sign-up,
  .login {
    background-color: $white;
    box-shadow: $shadow;
    width: 100%;
    max-width: 500px;
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15% auto;
    border-radius: 5px;

    .btn {
      display: block;
      width: 100%;
    }
  }

  .heading-container {
    .heading {
      font-size: 30px;
      color: $primary;
    }
    .sub-heading {
      font-size: 20px;

      a {
        color: $primary-light;
      }
    }
  }
}
