$primary: #885ff8;
$primary-light: #a25ff8;
$third: #f8885f;
$white: #ffffff;
$black: #000;
$darkgray-blue: rgba(21, 30, 47, 1);
$gray: #e3e5e6;

$db-bg: #101827;
$sidebar: rgba(21, 30, 47, 1);
$sidebar-active-link: #1d283c;

$shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

$font-small: 14px;
$font-medium: 16px;
$font-large: 24px;
